In [273]:
import pandas as pd
import numpy as np
import tmdbsimple as tds
import time
import pdb
keys = pd.read_csv('keys.txt')
keys['kDb3'][0]
tds.API_KEY = keys['kDb3'][0]

import requests # Not yet used
from IPython.display import Image # Not yet used
from IPython.core.display import HTML # Not yet used

import datetime
#from datetime import date # Used for date.today() to find age of actor who is still alive.

In [12]:
#Settings
# Set ipython's max row display
pd.set_option('display.max_row', 50)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [14]:
%pdb

Automatic pdb calling has been turned OFF

# IMDb Source

In [15]:
print('Parsing Title AKAs')
tadf = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep='\t')
print('Parsing Title Basics')
tbdf = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t')
print('Parsing Title Crews')
tcdf = pd.read_csv('https://datasets.imdbws.com/title.crew.tsv.gz', sep='\t')
print('Parsing Title Principals')
tpdf = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', sep='\t')
print('Parsing Title Episodes')
tedf = pd.read_csv('https://datasets.imdbws.com/title.episode.tsv.gz', sep='\t')
print('Parsing Title Ratings')
trdf = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', sep='\t')
print('Parsing Name Basics')
nbdf = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', sep='\t')

Parsing Title AKAs
Parsing Title Basics
Parsing Title Crews
Parsing Title Principals
Parsing Title Episodes
Parsing Title Ratings
Parsing Name Basics

https://www.imdb.com/interfaces/

# IMDb Dataset Details

Each dataset is contained in a gzipped, tab-separated-values (TSV) formatted file in the UTF-8 character set. The first line in each file contains headers that describe what is in each column. A ‘\N’ is used to denote that a particular field is missing or null for that title/name. The available datasets are as follows:

## title.akas.tsv.gz
Contains the following information for titles: titleId (string) - a tconst, an alphanumeric unique identifier of the title ordering (integer) – a number to uniquely identify rows for a given titleId title (string) – the localized title region (string) - the region for this version of the title language (string) - the language of the title types (array) - Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay". New values may be added in the future without warning attributes (array) - Additional terms to describe this alternative title, not enumerated isOriginalTitle (boolean) – 0: not original title; 1: original title

## title.basics.tsv.gz
Contains the following information for titles: tconst (string) - alphanumeric unique identifier of the title titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc) primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release originalTitle (string) - original title, in the original language isAdult (boolean) - 0: non-adult title; 1: adult title startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year endYear (YYYY) – TV Series end year. ‘\N’ for all other title types runtimeMinutes – primary runtime of the title, in minutes genres (string array) – includes up to three genres associated with the title

## title.crew.tsv.gz
Contains the director and writer information for all the titles in IMDb. Fields include: tconst (string) - alphanumeric unique identifier of the title directors (array of nconsts) - director(s) of the given title writers (array of nconsts) – writer(s) of the given title

## title.episode.tsv.gz
Contains the tv episode information. Fields include: tconst (string) - alphanumeric identifier of episode parentTconst (string) - alphanumeric identifier of the parent TV Series seasonNumber (integer) – season number the episode belongs to episodeNumber (integer) – episode number of the tconst in the TV series

## title.principals.tsv.gz
Contains the principal (highest ranking, important) cast/crew for titles tconst (string) - alphanumeric unique identifier of the title ordering (integer) – a number to uniquely identify rows for a given titleId nconst (string) - alphanumeric unique identifier of the name/person category (string) - the category of job that person was in job (string) - the specific job title if applicable, else '\N' characters (string) - the name of the character played if applicable, else '\N'

## title.ratings.tsv.gz
Contains the IMDb rating and votes information for titles tconst (string) - alphanumeric unique identifier of the title averageRating – weighted average of all the individual user ratings numVotes - number of votes the title has received

## name.basics.tsv.gz
Contains the following information for names: nconst (string) - alphanumeric unique identifier of the name/person primaryName (string)– name by which the person is most often credited birthYear – in YYYY format deathYear – in YYYY format if applicable, else '\N' primaryProfession (array of strings)– the top-3 professions of the person knownForTitles (array of tconsts) – titles the person is known for


### Data Uses
tbdf can be used to filter types and genres

tcdf can be used to credit directors and writers of a film

nbdf can be used to find the names of the aforementioned directors and writers, as well as actors and their known production work titles.

trdf can be used to target the actor's

tadf can be used to target a film's primary country of origin for a general idea of location of production relevance

In [94]:
print('Title AKAs')
print(tadf.info())
print('\n')
print('Title Basics')
print(tbdf.info())
print('\n')
print('Title Crews')
print(tcdf.info())
print('\n')
print('Title Principals')
print(tpdf.info())
print('\n')
print('Title Episodes')
print(tedf.info())
print('\n')
print('Title Ratings')
print(trdf.info())
print('\n')
print('Name Basics')
print(nbdf.info())
print('\n')

Title AKAs
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25730672 entries, 0 to 25730671
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 1.5+ GB
None


Title Basics
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7758254 entries, 0 to 7758253
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 532.7+ MB
None


Title Crews
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7758254 entries, 0 to 7758253
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 177.6+ MB
None


Title Principals
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43851163 entries, 0 to 43851162
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 2.0+ GB
None


Title Episodes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5642034 entries, 0 to 5642033
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 172.2+ MB
None


Title Ratings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1134098 entries, 0 to 1134097
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1134098 non-null  object
 1   averageRating  1134098 non-null  float64
 2   numVotes       1134098 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.0+ MB
None


Name Basics
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10820665 entries, 0 to 10820664
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 495.3+ MB
None

# TMDb Source

In [269]:
# https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior
date.strftime(date.today(), '%m_%d_%Y')

'04_02_2021'

In [281]:
retrieval_date = datetime.date.today()- datetime.timedelta(days=1)

In [289]:
print('Parsing Movies')
tmmdf = pd.read_json(f"http://files.tmdb.org/p/exports/movie_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)

print('Parsing TV Series')
tmtsdf = pd.read_json(f"http://files.tmdb.org/p/exports/tv_series_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)
# skipping for this analysis

print('Parsing People')
tmpdf = pd.read_json(f"http://files.tmdb.org/p/exports/person_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)

print('Parsing Collections')
tmcdf = pd.read_json(f"http://files.tmdb.org/p/exports/collection_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)

print('Parsing TV Networks')
tmtndf = pd.read_json(f"http://files.tmdb.org/p/exports/tv_network_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)

print('Parsing Keywords')
tmkdf = pd.read_json(f"http://files.tmdb.org/p/exports/keyword_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)

print('Parsing Production Companies')
tmpcdf = pd.read_json(f"http://files.tmdb.org/p/exports/production_company_ids_{datetime.date.strftime(retrieval_date, '%m_%d_%Y')}.json.gz", lines = True)

Parsing Movies
Parsing TV Series
Parsing People
Parsing Collections
Parsing TV Networks
Keywords
Production Companies

In [293]:
tmmdf

        adult      id                      original_title  popularity  video
0       False    3924                             Blondie       4.165  False
1       False    6124                 Der Mann ohne Namen       0.600  False
2       False    8773                 L'amour à vingt ans       3.236  False
3       False   25449  New World Disorder 9: Never Enough       2.224  False
4       False   31975      Sesame Street: Elmo Loves You!       1.506   True
...       ...     ...                                 ...         ...    ...
594171  False  812694                             Slasher       0.000  False
594172  False  812695                               Label       0.000  False
594173  False  812696           Phoenix Is a Cunning Cunt       0.000  False
594174  False  812697                 A Moment in the Sun       0.000  False
594175  False  812698                           The Birth       0.000  False

[594176 rows x 5 columns]

In [350]:
tmpcdf

            id                                     name
0            1                           Lucasfilm Ltd.
1            2                     Walt Disney Pictures
2            3                                    Pixar
3            4                                Paramount
4            5                        Columbia Pictures
...        ...                                      ...
117777  151901                 The Criterion Collection
117778  151902                              XTC Studios
117779  151903                      BUSYCAT Productions
117780  151904               London College of Printing
117781  151905  Gulf Islands Film and Television School

[117782 rows x 2 columns]

# TMDb Data Pull Commentary

In [51]:
tds.Find('tt0133093').info(external_source='imdb_id') # Can use IMDB to search TMDB
# This search gives brief info and the TMDB ID to use for further info.

{'movie_results': [{'adult': False,
   'backdrop_path': '/fNG7i7RqMErkcqhohV2a6cV1Ehy.jpg',
   'genre_ids': [28, 878],
   'id': 603,
   'original_language': 'en',
   'original_title': 'The Matrix',
   'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
   'video': False,
   'title': 'The Matrix',
   'vote_count': 18912,
   'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
   'release_date': '1999-03-30',
   'vote_average': 8.1,
   'popularity': 51.948}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [52]:
tds.Movies(603).info()

{'adult': False,
 'backdrop_path': '/fNG7i7RqMErkcqhohV2a6cV1Ehy.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/lh4aGpd3U9rm9B8Oqr6CUgQLtZL.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 51.948,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/ky0xOc5OrhzkZ1N6KyUxacfQsCk.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'AU', 'name': 'Australia'},
  {'iso_3166_1': 'CA', 'name': 'Canada'},
  {'iso_3166_1': 'US', 'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.1,
 'vote_count': 18914}

# TMDB API Exploration and Uses

### alternative_titles
International names

### credits
Gives cast information. gender 1 = female, 2 = male. Gives name (guild) and original name (birth name). Gives credit ID and order name, which can be mildly useful.

##### known_for_department
A category in credits, offers best vals: Acting, Writing, Directing, Production

### keywords
Enables sub-genre analysis. Genres are from general .info() call. Useful for analysis.

In [9]:
# tds.Movies(603).alternative_titles() # International names.

# tds.Movies(603).credits() # Gives cast information. gender 1 = female, 2 = male. Gives name (guild)

# known_for_department best vals: Acting, Writing, Directing, Production
# Production = producers, Editing = Editors, Writing = writers, Directing = directors

# tds.Movies(603).keywords() # This enables sub-genre analysis

#.lists() # User-created lists with this item. Improper popularity measure.
# tds.Movies(603).recommendations() # TMBD's recommender system.

# tds.Movies(603).release_dates() # Release dates by county.

# tds.Movies(603).reviews() # Could be useful but users don't leave enough reviews on tmdb to be meaningful

{'id': 603,
 'keywords': [{'id': 83, 'name': 'saving the world'},
  {'id': 310, 'name': 'artificial intelligence'},
  {'id': 312, 'name': 'man vs machine'},
  {'id': 490, 'name': 'philosophy'},
  {'id': 530, 'name': 'prophecy'},
  {'id': 779, 'name': 'martial arts'},
  {'id': 1430, 'name': 'self sacrifice'},
  {'id': 1721, 'name': 'fight'},
  {'id': 2157, 'name': 'hacker'},
  {'id': 3074, 'name': 'insurgence'},
  {'id': 3972, 'name': 'simulated reality '},
  {'id': 4563, 'name': 'virtual reality'},
  {'id': 4565, 'name': 'dystopia'},
  {'id': 6256, 'name': 'truth'},
  {'id': 12190, 'name': 'cyberpunk'},
  {'id': 186789, 'name': 'dream world'},
  {'id': 187056, 'name': 'woman director'},
  {'id': 194063, 'name': 'messiah'},
  {'id': 219404, 'name': 'action hero'},
  {'id': 221385, 'name': 'gnosticism'}]}

In [175]:
tds.Movies(603).credits()

{'id': 603,
 'cast': [{'adult': False,
   'gender': 2,
   'id': 6384,
   'known_for_department': 'Acting',
   'name': 'Keanu Reeves',
   'original_name': 'Keanu Reeves',
   'popularity': 20.503,
   'profile_path': '/rRdru6REr9i3WIHv2mntpcgxnoY.jpg',
   'cast_id': 34,
   'character': 'Thomas A. Anderson / Neo',
   'credit_id': '52fe425bc3a36847f80181c1',
   'order': 0},
  {'adult': False,
   'gender': 2,
   'id': 2975,
   'known_for_department': 'Acting',
   'name': 'Laurence Fishburne',
   'original_name': 'Laurence Fishburne',
   'popularity': 5.512,
   'profile_path': '/8suOhUmPbfKqDQ17jQ1Gy0mI3P4.jpg',
   'cast_id': 21,
   'character': 'Morpheus',
   'credit_id': '52fe425bc3a36847f801818d',
   'order': 1},
  {'adult': False,
   'gender': 1,
   'id': 530,
   'known_for_department': 'Acting',
   'name': 'Carrie-Anne Moss',
   'original_name': 'Carrie-Anne Moss',
   'popularity': 6.362,
   'profile_path': '/ArlQHNKGUOlSDUHdIdjG6nLiT2A.jpg',
   'cast_id': 22,
   'character': 'Trinity',
   'credit_id': '52fe425bc3a36847f8018191',
   'order': 2},
  {'adult': False,
   'gender': 2,
   'id': 1331,
   'known_for_department': 'Acting',
   'name': 'Hugo Weaving',
   'original_name': 'Hugo Weaving',
   'popularity': 7.14,
   'profile_path': '/n1hM4zsv9XPkkg08Lwf1lnUJPQS.jpg',
   'cast_id': 23,
   'character': 'Agent Smith',
   'credit_id': '52fe425bc3a36847f8018195',
   'order': 3},
  {'adult': False,
   'gender': 2,
   'id': 532,
   'known_for_department': 'Acting',
   'name': 'Joe Pantoliano',
   'original_name': 'Joe Pantoliano',
   'popularity': 4.729,
   'profile_path': '/rMcwHQXkqajl1YNCY6TqrCkT5tu.jpg',
   'cast_id': 25,
   'character': 'Cypher',
   'credit_id': '52fe425bc3a36847f801819d',
   'order': 4},
  {'adult': False,
   'gender': 1,
   'id': 9364,
   'known_for_department': 'Acting',
   'name': 'Gloria Foster',
   'original_name': 'Gloria Foster',
   'popularity': 2.603,
   'profile_path': '/AriGXtC9fjBOia9Zr8CZjn4o3rx.jpg',
   'cast_id': 24,
   'character': 'Oracle',
   'credit_id': '52fe425bc3a36847f8018199',
   'order': 5},
  {'adult': False,
   'gender': 2,
   'id': 9372,
   'known_for_department': 'Acting',
   'name': 'Marcus Chong',
   'original_name': 'Marcus Chong',
   'popularity': 2.674,
   'profile_path': '/rclzsHe72eizzItyCBGHyCtGyt2.jpg',
   'cast_id': 26,
   'character': 'Tank',
   'credit_id': '52fe425bc3a36847f80181a1',
   'order': 6},
  {'adult': False,
   'gender': 2,
   'id': 9380,
   'known_for_department': 'Acting',
   'name': 'Paul Goddard',
   'original_name': 'Paul Goddard',
   'popularity': 1.4,
   'profile_path': '/z6XP6Xhkh5ZE88gBOz2FnVQaKuf.jpg',
   'cast_id': 31,
   'character': 'Agent Brown',
   'credit_id': '52fe425bc3a36847f80181b5',
   'order': 7},
  {'adult': False,
   'gender': 2,
   'id': 39545,
   'known_for_department': 'Acting',
   'name': 'Robert Taylor',
   'original_name': 'Robert Taylor',
   'popularity': 2.813,
   'profile_path': '/ltsrqaUynECO6GcdG06Mi1ktkdm.jpg',
   'cast_id': 38,
   'character': 'Agent Jones',
   'credit_id': '52fe425bc3a36847f80181cb',
   'order': 8},
  {'adult': False,
   'gender': 2,
   'id': 7244,
   'known_for_department': 'Acting',
   'name': 'Julian Arahanga',
   'original_name': 'Julian Arahanga',
   'popularity': 0.619,
   'profile_path': '/g2YkF3PWSJU1vTKuURBH0DOMblm.jpg',
   'cast_id': 27,
   'character': 'Apoc',
   'credit_id': '52fe425bc3a36847f80181a5',
   'order': 9},
  {'adult': False,
   'gender': 1,
   'id': 9376,
   'known_for_department': 'Acting',
   'name': 'Belinda McClory',
   'original_name': 'Belinda McClory',
   'popularity': 0.795,
   'profile_path': '/wfTCwkIDJjH5k5DtuvcjP52PrLc.jpg',
   'cast_id': 29,
   'character': 'Switch',
   'credit_id': '52fe425bc3a36847f80181ad',
   'order': 10},
  {'adult': False,
   'gender': 2,
   'id': 9378,
   'known_for_department': 'Acting',
   'name': 'Anthony Ray Parker',
   'original_name': 'Anthony Ray Parker',
   'popularity': 0.733,
   'profile_path': '/k03O1ClFvGRSedUnK0sAjTkrogX.jpg',
   'cast_id': 30,
   'character': 'Dozer',
   'credit_id': '52fe425bc3a36847f80181b1',
   'order': 11},
  {'adult': False,
   'gender': 2,
   'id': 9374,
   'known_for_department': 'Acting',
   'name': 'Matt Doran',
   'original_name': 'Matt Doran',
   'popularity': 1.38,
   'profile_path': '/4HtMShAbsZ2AyFtq5z3bOVrvw2s.jpg',
   'cast_id': 28,
   'character': 'Mouse',
   'credit_id': '52fe425bc3a36847f80181a9',
   'order': 12},
  {'adult': False,
   'gender': 1,
   'id': 181214,
   'known_for_department': 'Acting',
   'name': 'Ada Nicodemou',
   'original_name': 'Ada Nicodemou',
   'popularity': 0.793,
   'profile_path': '/mJ0mxYYXEAcy52UHbQbGdBiip2c.jpg',
   'cast_id': 39,
   'character': 'DuJour',
   'credit_id': '52fe425bc3a36847f80181cf',
   'order': 13},
  {'adult': False,
   'gender': 2,
   'id': 9383,
   'known_for_department': 'Acting',
   'name': 'David Aston',
   'original_name': 'David Aston',
   'popularity': 1.4,
   'profile_path': '/AuGQFcxhYZR110PKJowJlNcHR6Z.jpg',
   'cast_id': 32,
   'character': 'Rhineheart',
   'credit_id': '52fe425bc3a36847f80181b9',
   'order': 14},
  {'adult': False,
   'gender': 2,
   'id': 9384,
   'known_for_department': 'Acting',
   'name': 'Marc Aden Gray',
   'original_name': 'Marc Aden Gray',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 33,
   'character': 'Choi',
   'credit_id': '52fe425bc3a36847f80181bd',
   'order': 15},
  {'adult': False,
   'gender': 0,
   'id': 1090466,
   'known_for_department': 'Acting',
   'name': 'Deni Gordon',
   'original_name': 'Deni Gordon',
   'popularity': 1.38,
   'profile_path': None,
   'cast_id': 40,
   'character': 'Priestess',
   'credit_id': '52fe425bc3a36847f80181d3',
   'order': 16},
  {'adult': False,
   'gender': 2,
   'id': 218366,
   'known_for_department': 'Acting',
   'name': 'Rowan Witt',
   'original_name': 'Rowan Witt',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 41,
   'character': 'Spoon Boy',
   'credit_id': '52fe425bc3a36847f80181d7',
   'order': 17},
  {'adult': False,
   'gender': 0,
   'id': 1209244,
   'known_for_department': 'Acting',
   'name': 'Eleanor Witt',
   'original_name': 'Eleanor Witt',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 43,
   'character': 'Potential',
   'credit_id': '52fe425bc3a36847f80181df',
   'order': 18},
  {'adult': False,
   'gender': 1,
   'id': 1209245,
   'known_for_department': 'Acting',
   'name': 'Tamara Brown',
   'original_name': 'Tamara Brown',
   'popularity': 0.84,
   'profile_path': '/tVLsTWurDEQI5lZddiQXaT3sdUs.jpg',
   'cast_id': 44,
   'character': 'Potential',
   'credit_id': '52fe425bc3a36847f80181e3',
   'order': 19},
  {'adult': False,
   'gender': 1,
   'id': 1209246,
   'known_for_department': 'Acting',
   'name': 'Janaya Pender',
   'original_name': 'Janaya Pender',
   'popularity': 0.6,
   'profile_path': '/vp5zai4UhXnjT56Wo61WJAtAZdm.jpg',
   'cast_id': 45,
   'character': 'Potential',
   'credit_id': '52fe425bc3a36847f80181e7',
   'order': 20},
  {'adult': False,
   'gender': 0,
   'id': 1209247,
   'known_for_department': 'Acting',
   'name': 'Adryn White',
   'original_name': 'Adryn White',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 46,
   'character': 'Potential',
   'credit_id': '52fe425bc3a36847f80181eb',
   'order': 21},
  {'adult': False,
   'gender': 0,
   'id': 1209248,
   'known_for_department': 'Acting',
   'name': 'Natalie Tjen',
   'original_name': 'Natalie Tjen',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 47,
   'character': 'Potential',
   'credit_id': '52fe425bc3a36847f80181ef',
   'order': 22},
  {'adult': False,
   'gender': 2,
   'id': 57799,
   'known_for_department': 'Acting',
   'name': 'Bill Young',
   'original_name': 'Bill Young',
   'popularity': 0.828,
   'profile_path': None,
   'cast_id': 42,
   'character': 'Lieutenant',
   'credit_id': '52fe425bc3a36847f80181db',
   'order': 23},
  {'adult': False,
   'gender': 0,
   'id': 1209249,
   'known_for_department': 'Acting',
   'name': "David O'Connor",
   'original_name': "David O'Connor",
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 48,
   'character': 'FedEx Man',
   'credit_id': '52fe425bc3a36847f80181f3',
   'order': 24},
  {'adult': False,
   'gender': 0,
   'id': 1209250,
   'known_for_department': 'Acting',
   'name': 'Jeremy Ball',
   'original_name': 'Jeremy Ball',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 49,
   'character': 'Businessman',
   'credit_id': '52fe425bc3a36847f80181f7',
   'order': 25},
  {'adult': False,
   'gender': 0,
   'id': 1209251,
   'known_for_department': 'Acting',
   'name': 'Fiona Johnson',
   'original_name': 'Fiona Johnson',
   'popularity': 0.98,
   'profile_path': '/oa1EOs4o8Pe0MI3PGbLDPPPwtcw.jpg',
   'cast_id': 50,
   'character': 'Woman in Red',
   'credit_id': '52fe425bc3a36847f80181fb',
   'order': 26},
  {'adult': False,
   'gender': 2,
   'id': 110411,
   'known_for_department': 'Acting',
   'name': 'Harry Lawrence',
   'original_name': 'Harry Lawrence',
   'popularity': 0.6,
   'profile_path': '/73cUjTwh7q8TGqbCX9reMQsdmDm.jpg',
   'cast_id': 51,
   'character': 'Old Man',
   'credit_id': '52fe425bc3a36847f80181ff',
   'order': 27},
  {'adult': False,
   'gender': 2,
   'id': 212562,
   'known_for_department': 'Acting',
   'name': 'Steve Dodd',
   'original_name': 'Steve Dodd',
   'popularity': 0.98,
   'profile_path': None,
   'cast_id': 52,
   'character': 'Blind Man',
   'credit_id': '52fe425bc3a36847f8018203',
   'order': 28},
  {'adult': False,
   'gender': 0,
   'id': 1209252,
   'known_for_department': 'Acting',
   'name': 'Luke Quinton',
   'original_name': 'Luke Quinton',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 53,
   'character': 'Security Guard',
   'credit_id': '52fe425bc3a36847f8018207',
   'order': 29},
  {'adult': False,
   'gender': 0,
   'id': 75715,
   'known_for_department': 'Crew',
   'name': 'Lawrence Woodward',
   'original_name': 'Lawrence Woodward',
   'popularity': 1.008,
   'profile_path': None,
   'cast_id': 54,
   'character': 'Guard',
   'credit_id': '52fe425cc3a36847f801820b',
   'order': 30},
  {'adult': False,
   'gender': 0,
   'id': 1209253,
   'known_for_department': 'Acting',
   'name': 'Michael Butcher',
   'original_name': 'Michael Butcher',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 55,
   'character': 'Cop Who Captures Neo',
   'credit_id': '52fe425cc3a36847f801820f',
   'order': 31},
  {'adult': False,
   'gender': 0,
   'id': 1209254,
   'known_for_department': 'Crew',
   'name': 'Bernard Ledger',
   'original_name': 'Bernard Ledger',
   'popularity': 0.98,
   'profile_path': None,
   'cast_id': 56,
   'character': 'Big Cop',
   'credit_id': '52fe425cc3a36847f8018213',
   'order': 32},
  {'adult': False,
   'gender': 1,
   'id': 1209255,
   'known_for_department': 'Acting',
   'name': 'Chris Pattinson',
   'original_name': 'Chris Pattinson',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 58,
   'character': 'Cop',
   'credit_id': '52fe425cc3a36847f801821b',
   'order': 33},
  {'adult': False,
   'gender': 2,
   'id': 26753,
   'known_for_department': 'Acting',
   'name': 'Robert Simper',
   'original_name': 'Robert Simper',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 57,
   'character': 'Cop',
   'credit_id': '52fe425cc3a36847f8018217',
   'order': 34},
  {'adult': False,
   'gender': 2,
   'id': 1209256,
   'known_for_department': 'Acting',
   'name': 'Nigel Harbach',
   'original_name': 'Nigel Harbach',
   'popularity': 0.6,
   'profile_path': None,
   'cast_id': 59,
   'character': 'Parking Cop',
   'credit_id': '52fe425cc3a36847f801821f',
   'order': 35},
  {'adult': False,
   'gender': 1,
   'id': 1209257,
   'known_for_department': 'Acting',
   'name': 'Rana Morrison',
   'original_name': 'Rana Morrison',
   'popularity': 5.249,
   'profile_path': '/8ALyJkb2lith9kEVHY5IpECYSQR.jpg',
   'cast_id': 129,
   'character': 'Shaylea',
   'credit_id': '5eb47e440cb3350020c97a04',
   'order': 36}],
 'crew': [{'adult': False,
   'gender': 2,
   'id': 123,
   'known_for_department': 'Production',
   'name': 'Barrie M. Osborne',
   'original_name': 'Barrie M. Osborne',
   'popularity': 1.4,
   'profile_path': '/xWtXYk6M5NFroddcQDviLlxOnkU.jpg',
   'credit_id': '5831cc6d92514162d2027340',
   'department': 'Production',
   'job': 'Executive Producer'},
  {'adult': False,
   'gender': 2,
   'id': 1091,
   'known_for_department': 'Production',
   'name': 'Joel Silver',
   'original_name': 'Joel Silver',
   'popularity': 1.4,
   'profile_path': '/7gGhVCBKJqb1Z9RqrdZ99Ji8NBF.jpg',
   'credit_id': '52fe425bc3a36847f801812f',
   'department': 'Production',
   'job': 'Producer'},
  {'adult': False,
   'gender': 1,
   'id': 1262,
   'known_for_department': 'Production',
   'name': 'Mali Finn',
   'original_name': 'Mali Finn',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f8018147',
   'department': 'Production',
   'job': 'Casting'},
  {'adult': False,
   'gender': 2,
   'id': 1296,
   'known_for_department': 'Production',
   'name': 'Bruce Berman',
   'original_name': 'Bruce Berman',
   'popularity': 1.96,
   'profile_path': None,
   'credit_id': '5831cd3392514162d202741f',
   'department': 'Production',
   'job': 'Executive Producer'},
  {'adult': False,
   'gender': 2,
   'id': 4671,
   'known_for_department': 'Editing',
   'name': 'Zach Staenberg',
   'original_name': 'Zach Staenberg',
   'popularity': 1.38,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f8018141',
   'department': 'Editing',
   'job': 'Editor'},
  {'adult': False,
   'gender': 2,
   'id': 4949,
   'known_for_department': 'Sound',
   'name': 'Don Davis',
   'original_name': 'Don Davis',
   'popularity': 1.38,
   'profile_path': '/FUcQUEOFH18BqYAeIs8VFud1E4.jpg',
   'credit_id': '52fe425bc3a36847f8018135',
   'department': 'Sound',
   'job': 'Original Music Composer'},
  {'adult': False,
   'gender': 2,
   'id': 5392,
   'known_for_department': 'Costume & Make-Up',
   'name': 'Michael Wilkinson',
   'original_name': 'Michael Wilkinson',
   'popularity': 1.22,
   'profile_path': '/5363Z5CBR7PoVjyxxnVOuifKrM5.jpg',
   'credit_id': '5f29da79d8cc4a00371afcaa',
   'department': 'Costume & Make-Up',
   'job': 'Costume Assistant'},
  {'adult': False,
   'gender': 1,
   'id': 6209,
   'known_for_department': 'Costume & Make-Up',
   'name': 'Kym Barrett',
   'original_name': 'Kym Barrett',
   'popularity': 1.4,
   'profile_path': '/wphQYPxu1Jr82JrEQWtTApX7Kys.jpg',
   'credit_id': '52fe425bc3a36847f801816b',
   'department': 'Costume & Make-Up',
   'job': 'Costume Design'},
  {'adult': False,
   'gender': 1,
   'id': 6411,
   'known_for_department': 'Art',
   'name': 'Deborah Riley',
   'original_name': 'Deborah Riley',
   'popularity': 0.6,
   'profile_path': '/cjhADpqdrnwB1PdDUKaBnWrIj2Q.jpg',
   'credit_id': '5831d14cc3a3685ba8027740',
   'department': 'Art',
   'job': 'Set Designer'},
  {'adult': False,
   'gender': 2,
   'id': 9341,
   'known_for_department': 'Camera',
   'name': 'Bill Pope',
   'original_name': 'Bill Pope',
   'popularity': 0.84,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f801813b',
   'department': 'Camera',
   'job': 'Director of Photography'},
  {'adult': False,
   'gender': 2,
   'id': 10950,
   'known_for_department': 'Production',
   'name': 'Erwin Stoff',
   'original_name': 'Erwin Stoff',
   'popularity': 1.008,
   'profile_path': None,
   'credit_id': '5831cd20c3a3685b9a0275df',
   'department': 'Production',
   'job': 'Executive Producer'},
  {'adult': False,
   'gender': 2,
   'id': 8299,
   'known_for_department': 'Production',
   'name': 'Andrew Mason',
   'original_name': 'Andrew Mason',
   'popularity': 1.38,
   'profile_path': None,
   'credit_id': '5831cc77c3a3685ba102b4a5',
   'department': 'Production',
   'job': 'Executive Producer'},
  {'adult': False,
   'gender': 1,
   'id': 9339,
   'known_for_department': 'Writing',
   'name': 'Lilly Wachowski',
   'original_name': 'Lilly Wachowski',
   'popularity': 4.092,
   'profile_path': '/9sxE10LUA7TGlS1pHw2RM6mckHp.jpg',
   'credit_id': '571756cfc3a3687c2c000a63',
   'department': 'Directing',
   'job': 'Director'},
  {'adult': False,
   'gender': 1,
   'id': 9339,
   'known_for_department': 'Writing',
   'name': 'Lilly Wachowski',
   'original_name': 'Lilly Wachowski',
   'popularity': 4.092,
   'profile_path': '/9sxE10LUA7TGlS1pHw2RM6mckHp.jpg',
   'credit_id': '5831ccfe92514162d8026200',
   'department': 'Production',
   'job': 'Executive Producer'},
  {'adult': False,
   'gender': 1,
   'id': 9339,
   'known_for_department': 'Writing',
   'name': 'Lilly Wachowski',
   'original_name': 'Lilly Wachowski',
   'popularity': 4.092,
   'profile_path': '/9sxE10LUA7TGlS1pHw2RM6mckHp.jpg',
   'credit_id': '5831cbe1c3a3685bad024e78',
   'department': 'Writing',
   'job': 'Writer'},
  {'adult': False,
   'gender': 1,
   'id': 9340,
   'known_for_department': 'Writing',
   'name': 'Lana Wachowski',
   'original_name': 'Lana Wachowski',
   'popularity': 4.452,
   'profile_path': '/5KNV7YBSPTBUAIXGfIcPmbhho9w.jpg',
   'credit_id': '571756c4c3a3687bc70008e9',
   'department': 'Directing',
   'job': 'Director'},
  {'adult': False,
   'gender': 1,
   'id': 9340,
   'known_for_department': 'Writing',
   'name': 'Lana Wachowski',
   'original_name': 'Lana Wachowski',
   'popularity': 4.452,
   'profile_path': '/5KNV7YBSPTBUAIXGfIcPmbhho9w.jpg',
   'credit_id': '5831ccf2c3a3685bb0025cbd',
   'department': 'Production',
   'job': 'Executive Producer'},
  {'adult': False,
   'gender': 1,
   'id': 9340,
   'known_for_department': 'Writing',
   'name': 'Lana Wachowski',
   'original_name': 'Lana Wachowski',
   'popularity': 4.452,
   'profile_path': '/5KNV7YBSPTBUAIXGfIcPmbhho9w.jpg',
   'credit_id': '5831cbea92514162d80260e5',
   'department': 'Writing',
   'job': 'Writer'},
  {'adult': False,
   'gender': 0,
   'id': 9342,
   'known_for_department': 'Production',
   'name': 'Shauna Wolifson',
   'original_name': 'Shauna Wolifson',
   'popularity': 1.4,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f801814d',
   'department': 'Production',
   'job': 'Casting'},
  {'adult': False,
   'gender': 2,
   'id': 9343,
   'known_for_department': 'Art',
   'name': 'Owen Paterson',
   'original_name': 'Owen Paterson',
   'popularity': 0.694,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f8018153',
   'department': 'Art',
   'job': 'Production Design'},
  {'adult': False,
   'gender': 2,
   'id': 9344,
   'known_for_department': 'Art',
   'name': 'Hugh Bateup',
   'original_name': 'Hugh Bateup',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f8018159',
   'department': 'Art',
   'job': 'Art Direction'},
  {'adult': False,
   'gender': 1,
   'id': 9345,
   'known_for_department': 'Art',
   'name': 'Michelle McGahey',
   'original_name': 'Michelle McGahey',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f801815f',
   'department': 'Art',
   'job': 'Art Direction'},
  {'adult': False,
   'gender': 1,
   'id': 9346,
   'known_for_department': 'Art',
   'name': 'Lisa Brennan',
   'original_name': 'Lisa Brennan',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '52fe425bc3a36847f8018165',
   'department': 'Art',
   'job': 'Set Decoration'},
  {'adult': False,
   'gender': 2,
   'id': 9349,
   'known_for_department': 'Sound',
   'name': 'Dane A. Davis',
   'original_name': 'Dane A. Davis',
   'popularity': 1.533,
   'profile_path': '/16RaENd5PxeXs6XE4yrnCPjg4Gz.jpg',
   'credit_id': '5831cf1492514162c3026dfe',
   'department': 'Sound',
   'job': 'Sound Designer'},
  {'adult': False,
   'gender': 2,
   'id': 9349,
   'known_for_department': 'Sound',
   'name': 'Dane A. Davis',
   'original_name': 'Dane A. Davis',
   'popularity': 1.533,
   'profile_path': '/16RaENd5PxeXs6XE4yrnCPjg4Gz.jpg',
   'credit_id': '5831cf1b92514162c0027381',

In [179]:
# This retrieves images for image analysis
# Image(url= "https://www.themoviedb.org/t/p/w1280/tnAuB8q5vv7Ax9UAEje5Xi4BXik.jpg")

# TMDB Attributes
https://developers.themoviedb.org/3/movies/get-movie-details

In [152]:
tcdf[tcdf['tconst'] == 'tt0133093']['writers'].values[0].split(',')[0]

'nm0905152'

In [162]:
str(date.today()).split('-')[0] # Prints the current year for use in calculating actor age.

'2021'

In [163]:
tds.Movies(603).info()

{'adult': False,
 'backdrop_path': '/fNG7i7RqMErkcqhohV2a6cV1Ehy.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/lh4aGpd3U9rm9B8Oqr6CUgQLtZL.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 60.163,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/ky0xOc5OrhzkZ1N6KyUxacfQsCk.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'AU', 'name': 'Australia'},
  {'iso_3166_1': 'CA', 'name': 'Canada'},
  {'iso_3166_1': 'US', 'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.1,
 'vote_count': 18904}

In [61]:
#tadf
#tbdf[tbdf['tconst']=='tt0457430']
#tcdf
#tpdf
#tedf
trdf
#nbdf

            tconst  averageRating  numVotes
0        tt0000001            5.6      1694
1        tt0000002            6.0       210
2        tt0000003            6.5      1441
3        tt0000004            6.1       122
4        tt0000005            6.1      2240
...            ...            ...       ...
1135108  tt9916580            7.2         5
1135109  tt9916690            6.6         5
1135110  tt9916720            6.4        76
1135111  tt9916766            6.9        16
1135112  tt9916778            7.5        27

[1135113 rows x 3 columns]

In [241]:
# Investigating how to use nameIDs efficiently.
nbdf.loc[nbdf['knownForTitles'].str.contains("tt0457430", case=False)] # this works!

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
6538,nm0006564,Víctor Albarrán,\N,\N,"production_manager,producer,assistant_director","tt0276437,tt0457430,tt0082198,tt0101025"
7566,nm0007614,Reyes Abades,1949,2018,"special_effects,actor,miscellaneous","tt4326444,tt0125659,tt1189073,tt0457430"
7567,nm0007615,Óscar Abades,\N,\N,"special_effects,art_department,miscellaneous","tt1189073,tt4326444,tt0457430,tt0913425"
16331,nm0016864,Fernando Albizu,1963,\N,actor,"tt0457430,tt0359045,tt1166810,tt6584918"
21323,nm0022136,Ángel Alonso,\N,\N,"special_effects,visual_effects,miscellaneous","tt0203119,tt0457430,tt0947810,tt4326444"
...,...,...,...,...,...,...
7673970,nm6163402,Álvaro Hernández Arriero,\N,\N,stunts,"tt1572491,tt0395119,tt0457430,tt0374569"
7673972,nm6163404,David Jiménez Cambón,\N,\N,stunts,"tt0457430,tt0375342"
7703278,nm6198885,Laura Bernice Watson,\N,\N,make_up_department,"tt5742374,tt2076298,tt0142688,tt0457430"
8024787,nm6602582,Chema Ruiz,\N,\N,music_department,tt0457430
8858294,nm7654887,Cristina Campos,\N,\N,"miscellaneous,actress,production_manager","tt0435189,tt0491046,tt0435999,tt0457430"

# Data Collection Schema

1) Use tbdf to find all tconst from only movies. Take all columns from this table.

2) Use tadf to pull only movie data only from region=US. tbdf and tadf combine into tabdf

4) Use titleId to retrieve nameIds of directors and writers from tcdf. Merge into tabdf

5) Use titleId to find the principal crew of a film from tpdf. Note that when searching a titleId multiple rows appear, one per person nameId. Gender-specific "actor/actress" role names are used which can help for gender-specific identification.

6) SKIPPING tedf for this analysis. It is indexed by episode tt-id, with parent tt-id. Season and episode number columns are given.

7) Use titleId to find average rating and number of votes. This IMDB rating is distinct from TMDB ratings. IMDB seems to be more popular and thus has more ratings and reviews, but comparison between these and TMDB's ratings can be done.

8) Use nameIDs found from tcdf and tpdf on nbdf to locate names, birth/death years as primary data elements. knownForTitles can be occasionally useful. primaryProfession is granular, not sure if I would use this during this current analysis.

9) Notes on tc, tp, and nb dfs: use film tconst to start with tc for directors and writers. Although tp can make duplicate references to director and actor, tp does not indicate instances in which the director and writer are the same person, listing only director and no actor. Make a flag to indicate if the director and writer are the same person. Can use tconst to search for actors in nbdf that are known for that movie, which can link to other movies connected to those respective actors.

10) Use TMDb to find budget, keywords, popularity, revenue, and overview.

11) spoken_languages is new here but could be guessed from IMDB first via region.

12) genre, release_date, runtime, vote_average, and vote_count are found in IMDB but can be cross-referenced here.

In [252]:
tadf[tadf['region']=='US']['types'].unique()

array(['\\N', 'alternative', 'imdbDisplay', 'dvd', 'working', 'tv',
       'video', 'festival', 'original', 'tv\x02working', 'tv\x02video',
       'video\x02working', 'festival\x02working', 'dvd\x02video',
       'dvd\x02working'], dtype=object)

In [264]:
tadf[(tadf['region']=='US') & ((tadf['types'] == '\\N') | (tadf['types'] == 'imdbDisplay') )]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
43,tt0000005,9,Blacksmith Scene,US,\N,\N,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
...,...,...,...,...,...,...,...,...
25730348,tt9916702,1,Loving London: The Playground,US,\N,\N,\N,0
25730387,tt9916720,12,The Nun 2,US,\N,imdbDisplay,\N,0
25730401,tt9916734,1,Manca: Peleo,US,\N,\N,\N,0
25730403,tt9916756,1,Pretty Pretty Black Girl,US,\N,\N,\N,0
25730418,tt9916764,1,38,US,\N,\N,\N,0

In [261]:
tadf[(tadf['region']=='US') & (tadf['title'] == 'The Matrix')]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
923922,tt0133093,27,The Matrix,US,\N,imdbDisplay,\N,0
5324501,tt11089880,1,The Matrix,US,\N,\N,\N,0
25213967,tt9642498,1,The Matrix,US,\N,imdbDisplay,\N,0

In [6]:
tadf['types'].unique()

array(['imdbDisplay', '\\N', 'original', 'alternative', 'dvd', 'festival',
       'working', 'tv', 'video', 'imdbDisplay\x02tv', 'alternative\x02tv',
       'imdbDisplay\x02working', 'festival\x02imdbDisplay',
       'tv\x02working', 'imdbDisplay\x02video', 'alternative\x02dvd',
       'tv\x02video', 'dvd\x02imdbDisplay', 'alternative\x02working',
       'video\x02working', 'alternative\x02video', 'festival\x02working',
       'dvd\x02video', 'alternative\x02festival', 'dvd\x02working'],
      dtype=object)

In [266]:
tbdf['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'audiobook',
       'radioSeries', 'episode'], dtype=object)

In [16]:
tadf.rename(columns={'titleId':'tconst'}, inplace = True)

In [83]:
tadf[tadf['tconst'] == 'tt0000001']

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0

In [99]:
tadf['types'].unique()

array(['imdbDisplay', '\\N', 'original', 'alternative', 'dvd', 'festival',
       'working', 'tv', 'video', 'imdbDisplay\x02tv', 'alternative\x02tv',
       'imdbDisplay\x02working', 'festival\x02imdbDisplay',
       'tv\x02working', 'imdbDisplay\x02video', 'alternative\x02dvd',
       'tv\x02video', 'dvd\x02imdbDisplay', 'alternative\x02working',
       'video\x02working', 'alternative\x02video', 'festival\x02working',
       'dvd\x02video', 'alternative\x02festival', 'dvd\x02working'],
      dtype=object)

# Successful Merge of TA and TB DFs!

Notes: left join only obeys left criteria. Try inner join.

In [27]:
tabdf = tbdf[tbdf['titleType']=='movie'].merge(tadf[tadf['region']=='US'], on='tconst', how='inner')

In [29]:
tmovus = tabdf.merge(tcdf, on='tconst', how='inner') #was previously how='left'

In [30]:
tmovus = tmovus.merge(trdf, on='tconst', how='inner') #was previously how='left'

In [31]:
tmovus = tmovus.replace(to_replace=['\\N'], value=[None])
tmovus = tmovus.where(tmovus.notnull(), None)

In [48]:
tmovus

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,ordering,title,region,language,types,attributes,isOriginalTitle,directors,writers,averageRating,numVotes
0,tt0000630,movie,Hamlet,Amleto,0,1908,None,None,Drama,4,Hamlet,US,None,None,None,0,nm0143333,nm0000636,3.8,12
1,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,None,120,"Adventure,Fantasy",1,The Fairylogue and Radio-Plays,US,None,None,None,0,"nm0877783,nm0091767","nm0000875,nm0877783",5.2,35
2,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,None,None,Drama,2,"Hamlet, Prince of Denmark",US,None,None,None,0,nm0099901,nm0000636,5.0,24
3,tt0001101,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0,1910,None,None,None,2,Abraham Lincoln's Clemency,US,None,None,None,0,nm0923603,None,5.2,13
4,tt0001159,movie,The Connecticut Yankee,The Connecticut Yankee,0,1910,None,None,None,1,The Connecticut Yankee,US,None,None,None,0,None,None,5.6,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142830,tt9913660,movie,No Apology,No Apology,0,2019,None,102,Drama,4,No Apology,US,None,imdbDisplay,None,0,nm1067844,nm3014403,5.5,40
142831,tt9914642,movie,Albatross,Albatross,0,2017,None,97,Documentary,1,Albatross,US,None,None,None,0,nm5300859,"nm5300859,nm7332227",8.2,28
142832,tt9914644,movie,9/11: Escape from the Towers,9/11: Escape from the Towers,0,2018,None,120,Documentary,2,9/11: Escape from the Towers,US,None,imdbDisplay,None,0,nm10537376,None,8.3,67
142833,tt9916190,movie,Safeguard,Safeguard,0,2020,None,90,"Action,Adventure,Thriller",5,Safeguard,US,None,imdbDisplay,None,0,nm7308376,nm7308376,3.4,140
142834,tt9916362,movie,Coven,Akelarre,0,2020,None,92,"Adventure,Drama,History",13,Coven,US,None,imdbDisplay,None,0,nm1893148,"nm1893148,nm3471432",6.3,2478

In [43]:
duplicate_movies = tmovus['tconst'].value_counts()
duplicate_movies[duplicate_movies > 1].shape

(19629,)

In [47]:
duplicate_movies[duplicate_movies > 3].shape

(1618,)

# This step is expensive! I estimate O^3, with the fully built algorithm taking O^5
## Only run the next cell if this data is needed!

In [ ]:
# Slow algorithm to get certain person names from IMDB.
# To be expanded in the future to calculate gender and age.

# tmovus['drnames'] = tmovus['directors'].apply(findnbdfn)
# tmovus['wrnames'] = tmovus['writers'].apply(findnbdfn)

In [62]:
tmovus.rename(columns={'genres':'genres_im', 'title': 'title_im'}, inplace = True)

In [63]:
tmovus[tmovus['tconst']=='tt0133093']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_im,ordering,title_im,region,language,types,attributes,isOriginalTitle,directors,writers,averageRating,numVotes
56353,tt0133093,movie,The Matrix,The Matrix,0,1999,None,136,"Action,Sci-Fi",27,The Matrix,US,None,imdbDisplay,None,0,"nm0905152,nm0905154","nm0905152,nm0905154",8.7,1694722

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html

In [76]:
im_to_tm_sl = ['adult',
 'backdrop_path',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [205]:
im_to_tm_sl = list()
dfdts = dict()
for k, v in tds.Movies(603).info().items():
    im_to_tm_sl.append(k)
    dfdts[k] = type(v).__name__

In [209]:
dfdts

{'adult': 'bool',
 'backdrop_path': 'str',
 'belongs_to_collection': 'dict',
 'budget': 'int',
 'genres': 'list',
 'homepage': 'str',
 'id': 'int',
 'imdb_id': 'str',
 'original_language': 'str',
 'original_title': 'str',
 'overview': 'str',
 'popularity': 'float',
 'poster_path': 'str',
 'production_companies': 'list',
 'production_countries': 'list',
 'release_date': 'str',
 'revenue': 'int',
 'runtime': 'int',
 'spoken_languages': 'list',
 'status': 'str',
 'tagline': 'str',
 'title': 'str',
 'video': 'bool',
 'vote_average': 'float',
 'vote_count': 'int'}

In [ ]:
{'adult': 'bool',
 'backdrop_path': 'str',
 'belongs_to_collection': 'dict',
 'budget': 'int',
 'genres': 'list',
 'homepage': 'str',
 'id': 'int',
 'imdb_id': 'str',
 'original_language': 'str',
 'original_title': 'str',
 'overview': 'str',
 'popularity': 'float',
 'poster_path': 'str',
 'production_companies': 'list',
 'production_countries': 'list',
 'release_date': 'str',
 'revenue': 'int',
 'runtime': 'int',
 'spoken_languages': 'list',
 'status': 'str',
 'tagline': 'str',
 'title': 'str',
 'video': 'bool',
 'vote_average': 'float',
 'vote_count': 'int'}

In [226]:
tmdfe = pd.DataFrame(columns = im_to_tm_sl)
tmdfe.astype(dfdts, copy=False)
tmdfe.set_index(['imdb_id'], inplace = True) # can assign multiple index columns, do not know why though.

TypeError: data type 'dict' not understood

In [ ]:
tmdfe

In [133]:
#Defining a TMDb search list for the function to expand it later.
tmdb_queries = ['info']

# This function is required to access the global scope in case of issues
def im_to_tm_collector(imdf=None, idcol='tconst', idxn='imdb_id', tmsl=['info'], mode='pdframe', dbg=None):
    dbg_ct = 0
    prior = None
    tdil = list()
    tmdf = None
    for tcid in imdf[idcol]:
        if tcid != prior:
            try:
                tmid = tds.Find(tcid).info(external_source='imdb_id')['movie_results'][0]['id']
                if 'info' in tmsl:
                    tdsmqi = tds.Movies(tmid).info()
                    tdil.append(tdsmqi)
                    dbg_ct += 1
            except IndexError:
                continue
        if tcid == prior:
            continue
        if dbg:
            if dbg_ct >= dbg:
                #return tdil
                tmdf = pd.DataFrame(tdil)
                tmdf.set_index(['imdb_id'], inplace = True)
                return tmdf
    if mode == 'list':
        return tdil
    if mode == 'pdframe':
        tmdf = pd.DataFrame(tdil)
        tmdf.set_index(['imdb_id'], inplace = True)
        return tmdf

In [385]:
# im_to_tm_collector global scope safety variables
imttdil = list() #TMDb return list
imtedct = dict() #Error count dictionary
imtrcid = list() # recent id before failure; to be assigned a string
tmdtdil = list()
tmdedct = dict()
tmdrcid = list()

In [386]:
def g_reset_imt():
    imttdil.clear()
    imtedct.clear()
    imtrcid.clear()
def g_reset_tmd():
    tmdtdil.clear()
    tmdedct.clear()
    tmdrcid.clear()

In [387]:
# This function is required to access the global scope in case of issues
def im_to_tm_collector(imdf=None, idcol='tconst', tmsl=['info'], dbg=None, startfromid = None):
    dbg_ct = 0
    prior = None
    for tcid in imdf[idcol]:
        if (tcid != prior) or (tcid == startfromid):
            if startfromid:
                startfromid = None
            imtrcid.clear()
            imtrcid.append(tcid)
            try:
                tmid = tds.Find(tcid).info(external_source='imdb_id')['movie_results'][0]['id']
                if 'info' in tmsl:
                    tdsmqi = tds.Movies(tmid).info()
                    imttdil.append(tdsmqi)
                    dbg_ct += 1
            except Exception as error:
                continue
                error_string = str(error)
                if error_string in edct:
                    imtedct[error_string] +=1
                else:
                    imtedct[error_string] =1
                #continue
        if tcid == prior:
            continue
        if dbg:
            if dbg_ct >= dbg:
                break

In [388]:
# This function is required to access the global scope in case of issues
def tmd_collector(tmdf=None, idcol='id', tmsl=['info'], dbg=None, startfromid = None):
    dbg_ct = 0
    prior = None
    for tmid in tmdf[idcol]:
        if (tmid != prior) or (tmid == startfromid):
            if startfromid:
                startfromid = None
            tmdrcid.clear()
            tmdrcid.append(tmid)
            try:
                if 'info' in tmsl:
                    tdsmqi = tds.Movies(tmid).info()
                    tmdtdil.append(tdsmqi)
                    dbg_ct += 1
            except Exception as error:
                error_string = str(error)
                if error_string in edct:
                    tmdedct[error_string] +=1
                else:
                    tmdedct[error_string] =1
                continue
        if tmid == prior:
            continue
        if dbg:
            if dbg_ct >= dbg:
                break

In [381]:
def makeframe_fromlst(inp, ind=None):
    df = pd.DataFrame(inp)
    if ind:
        df.set_index(ind, inplace = True)
    return df

def im_to_tm_dbg(imdf=None, idcol=None, idxn='imdb_id', dbg = None):
    prior = None
    db_ct = 0
    dfil = list()
    #tmdf = pd.DataFrame(columns=tpdt.keys()).set_index(idxn , inplace=True)
    tmdf = None
    for tcid in imdf[idcol]:
        if tcid != prior:
            try:
                tmid = tds.Find(tcid).info(external_source='imdb_id')['movie_results'][0]['id']
                tdsmqi = tds.Movies(tmid).info()
                dfil.append(tdsmqi)
                db_ct += 1
            except IndexError:
                continue
        if tcid == prior:
            continue
        if dbg:
            if db_ct >= dbg:
                return dfil
    return dfil

In [106]:
tmovus

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_im,ordering,title_im,region,language,types,attributes,isOriginalTitle,directors,writers,averageRating,numVotes
0,tt0000630,movie,Hamlet,Amleto,0,1908,None,None,Drama,4,Hamlet,US,None,None,None,0,nm0143333,nm0000636,3.8,12
1,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,None,120,"Adventure,Fantasy",1,The Fairylogue and Radio-Plays,US,None,None,None,0,"nm0877783,nm0091767","nm0000875,nm0877783",5.2,35
2,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,None,None,Drama,2,"Hamlet, Prince of Denmark",US,None,None,None,0,nm0099901,nm0000636,5.0,24
3,tt0001101,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0,1910,None,None,None,2,Abraham Lincoln's Clemency,US,None,None,None,0,nm0923603,None,5.2,13
4,tt0001159,movie,The Connecticut Yankee,The Connecticut Yankee,0,1910,None,None,None,1,The Connecticut Yankee,US,None,None,None,0,None,None,5.6,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142830,tt9913660,movie,No Apology,No Apology,0,2019,None,102,Drama,4,No Apology,US,None,imdbDisplay,None,0,nm1067844,nm3014403,5.5,40
142831,tt9914642,movie,Albatross,Albatross,0,2017,None,97,Documentary,1,Albatross,US,None,None,None,0,nm5300859,"nm5300859,nm7332227",8.2,28
142832,tt9914644,movie,9/11: Escape from the Towers,9/11: Escape from the Towers,0,2018,None,120,Documentary,2,9/11: Escape from the Towers,US,None,imdbDisplay,None,0,nm10537376,None,8.3,67
142833,tt9916190,movie,Safeguard,Safeguard,0,2020,None,90,"Action,Adventure,Thriller",5,Safeguard,US,None,imdbDisplay,None,0,nm7308376,nm7308376,3.4,140
142834,tt9916362,movie,Coven,Akelarre,0,2020,None,92,"Adventure,Drama,History",13,Coven,US,None,imdbDisplay,None,0,nm1893148,"nm1893148,nm3471432",6.3,2478

Can use IMDB to search TMDB
This search gives brief info and the TMDB ID to use for further info.

In [229]:
tds.Find('tt0133093').info(external_source='imdb_id')

{'movie_results': [{'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
   'title': 'The Matrix',
   'video': False,
   'vote_average': 8.1,
   'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
   'release_date': '1999-03-30',
   'adult': False,
   'backdrop_path': '/fNG7i7RqMErkcqhohV2a6cV1Ehy.jpg',
   'id': 603,
   'genre_ids': [28, 878],
   'vote_count': 18912,
   'original_language': 'en',
   'original_title': 'The Matrix',
   'popularity': 51.948}],
 'person_results': [],
 'tv_results': [],
 'tv_episode_results': [],
 'tv_season_results': []}

In [59]:
tds.Movies(603).info()

{'adult': False,
 'backdrop_path': '/fNG7i7RqMErkcqhohV2a6cV1Ehy.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/lh4aGpd3U9rm9B8Oqr6CUgQLtZL.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 51.948,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/ky0xOc5OrhzkZ1N6KyUxacfQsCk.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'AU', 'name': 'Australia'},
  {'iso_3166_1': 'CA', 'name': 'Canada'},
  {'iso_3166_1': 'US', 'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.1,
 'vote_count': 18914}

In [58]:
list(tds.Movies(603).info().keys())

['adult',
 'backdrop_path',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

# Pickle Code Examples

# Save a dictionary into a pickle file.
import pickle

favorite_color = { "lion": "yellow", "kitty": "red" }

pickle.dump( favorite_color, open( "save.p", "wb" ) )

# Load the dictionary back from the pickle file.
import pickle

favorite_color = pickle.load( open( "save.p", "rb" ) )
# favorite_color is now { "lion": "yellow", "kitty": "red" }

# Extracting Data from TMDb via their id archives
##### The order in which data will be pulled from the rate-limited TMDb API using their own IDs.

In [364]:
g_reset_tmd()

In [365]:
tmd_collector(tmdf=tmmdf, dbg=25)

# Global Variable Checkout Section for TMDb Pulls
To be rewritten in final without global variables if feasible.

In [366]:
tmdtdil

[{'adult': False,
  'backdrop_path': '/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg',
  'belongs_to_collection': {'id': 177062,
   'name': 'Blondie Collection',
   'poster_path': '/sjF7S5JK4FKr6mz8tt70LUen1hF.jpg',
   'backdrop_path': '/qMr0HqAhfYmIkSVs6W5xuxwEIbR.jpg'},
  'budget': 0,
  'genres': [{'id': 35, 'name': 'Comedy'}],
  'homepage': '',
  'id': 3924,
  'imdb_id': 'tt0029927',
  'original_language': 'en',
  'original_title': 'Blondie',
  'overview': 'Blondie and Dagwood are about to celebrate their fifth wedding anniversary but this happy occasion is marred when the bumbling Dagwood gets himself involved in a scheme that is promising financial ruin for the Bumstead family.',
  'popularity': 4.026,
  'poster_path': '/o6UMTE2LzQdlKVxRnFECPmtQjsJ.jpg',
  'production_companies': [{'id': 5,
    'logo_path': '/71BqEFAF4V3qjjMPCpLuyJFB9A.png',
    'name': 'Columbia Pictures',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1938-11-30',
  'revenue': 0,
  'runtime': 70,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Blondie',
  'video': False,
  'vote_average': 7.1,
  'vote_count': 5},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 12, 'name': 'Adventure'}],
  'homepage': '',
  'id': 6124,
  'imdb_id': 'tt0011436',
  'original_language': 'de',
  'original_title': 'Der Mann ohne Namen',
  'overview': 'Der Mann ohne Namen is a German adventure movie serial directed by Georg Jacoby.',
  'popularity': 0.6,
  'poster_path': '/6xUbUCvndklbGVYiljHr34NTxSl.jpg',
  'production_companies': [],
  'production_countries': [{'iso_3166_1': 'DE', 'name': 'Germany'}],
  'release_date': '1921-01-01',
  'revenue': 0,
  'runtime': 420,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'Peter Voss, Thief of Millions',
  'video': False,
  'vote_average': 0.0,
  'vote_count': 0},
 {'adult': False,
  'backdrop_path': '/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 8773,
  'imdb_id': 'tt0055747',
  'original_language': 'fr',
  'original_title': "L'amour à vingt ans",
  'overview': 'Love at Twenty unites five directors from five different countries to present their different perspectives on what love really is at the age of 20. The episodes are united with the score of Georges Delerue and still photos of Henri Cartier-Bresson.',
  'popularity': 2.726,
  'poster_path': '/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg',
  'production_companies': [{'id': 38936,
    'logo_path': '/ypvTqUeQOxORhFEFlIaSPvPYD5J.png',
    'name': 'Ulysse Productions',
    'origin_country': ''},
   {'id': 67,
    'logo_path': '/1gkCUTbckMYjGam52H7qRyfuXS1.png',
    'name': 'Unitec Films',
    'origin_country': 'NZ'},
   {'id': 65977,
    'logo_path': None,
    'name': 'Cinesecolo',
    'origin_country': 'IT'},
   {'id': 882,
    'logo_path': '/fRSWWjquvzcHjACbtF53utZFIll.png',
    'name': 'Toho Company, Ltd.',
    'origin_country': 'JP'},
   {'id': 1080,
    'logo_path': '/6bZ0BiLDzCZSqVCjiSqweWwp9Ew.png',
    'name': 'Beta Film',
    'origin_country': 'DE'},
   {'id': 12838,
    'logo_path': None,
    'name': 'Film Polski',
    'origin_country': 'PL'},
   {'id': 96743,
    'logo_path': None,
    'name': 'Zespół Filmowy "Kamera"',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'DE', 'name': 'Germany'},
   {'iso_3166_1': 'FR', 'name': 'France'},
   {'iso_3166_1': 'IT', 'name': 'Italy'},
   {'iso_3166_1': 'JP', 'name': 'Japan'},
   {'iso_3166_1': 'PL', 'name': 'Poland'}],
  'release_date': '1962-06-22',
  'revenue': 0,
  'runtime': 110,
  'spoken_languages': [{'english_name': 'French',
    'iso_639_1': 'fr',
    'name': 'Français'},
   {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'},
   {'english_name': 'Italian', 'iso_639_1': 'it', 'name': 'Italiano'},
   {'english_name': 'Polish', 'iso_639_1': 'pl', 'name': 'Polski'},
   {'english_name': 'German', 'iso_639_1': 'de', 'name': 'Deutsch'}],
  'status': 'Released',
  'tagline': 'The Intimate Secrets of Young Lovers',
  'title': 'Love at Twenty',
  'video': False,
  'vote_average': 6.9,
  'vote_count': 33},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': {'id': 425256,
   'name': 'New World Disorder',
   'poster_path': '/7oLgGicfFSYVb1buliHxcxx7CTa.jpg',
   'backdrop_path': '/1qojhAFNz8Q7cz6B3M14fFAFVv.jpg'},
  'budget': 0,
  'genres': [],
  'homepage': 'http://www.nwdfilms.com',
  'id': 25449,
  'imdb_id': '',
  'original_language': 'en',
  'original_title': 'New World Disorder 9: Never Enough',
  'overview': 'Gee Atherton ripping the Worlds course the day after winning the race, Robbie Bourdon stomping a 70 ft. flat spin and Fabien Barel dropping an insane, near vertical line in Morocco, that\'s right New World Disorder is back with it\'s 9th installment, "Never Enough." Filmed exclusively in Super 16mm and High Definition, the world premiere will screen September 24th, during the annual Interbike trade show in Las Vegas.',
  'popularity': 2.897,
  'poster_path': '/okQY6jVmRU19CUbYPUZC77K3XBE.jpg',
  'production_companies': [],
  'production_countries': [],
  'release_date': '2008-12-08',
  'revenue': 0,
  'runtime': 69,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': '',
  'title': 'New World Disorder 9: Never Enough',
  'video': False,
  'vote_average': 4.5,
  'vote_count': 2},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 10751, 'name': 'Family'}],
  'homepage': '',
  'id': 31975,
  'imdb_id': 'tt1656746',
  'original_language': 'en',
  'original_title': 'Sesame Street: Elmo Loves You!',
  'overview': 'Elmo is making a very, very super special surprise card for someone Elmo really loves but a gust of wind blows it away! Rosita joins Elmo to chase after the card but they can\'t reach it. Can Super Grover use his heroic skills to save the day? Will Elmo be able to give his surprise card to someone very special? Join Elmo, Rosita and Grover as they learn about love, emotions and friendship in this love-ly tale featuring the new song "Elmo Loves You" and a special music video about signing "I Love You".',
  'popularity': 1.479,
  'poster_path': None,
  'production_companies': [],
  'production_countries': [],
  'release_date': '2010-01-05',
  'revenue': 0,
  'runtime': 46,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'Sesame Street: Elmo Loves You!',
  'video': True,
  'vote_average': 0.0,
  'vote_count': 0},
 {'adult': False,
  'backdrop_path': '/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 80, 'name': 'Crime'},
   {'id': 35, 'name': 'Comedy'}],
  'homepage': '',
  'id': 2,
  'imdb_id': 'tt0094675',
  'original_language': 'fi',
  'original_title': 'Ariel',
  'overview': "Taisto Kasurinen is a Finnish coal miner whose father has just committed suicide and who is framed for a crime he did not commit. In jail, he starts to dream about leaving the country and starting a new life. He escapes from prison but things don't go as planned...",
  'popularity': 8.974,
  'poster_path': '/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg',
  'production_companies': [{'id': 2303,
    'logo_path': None,
    'name': 'Villealfa Filmproductions',
    'origin_country': 'FI'}],
  'production_countries': [{'iso_3166_1': 'FI', 'name': 'Finland'}],
  'release_date': '1988-10-21',
  'revenue': 0,
  'runtime': 73,
  'spoken_languages': [{'english_name': 'German',
    'iso_639_1': 'de',
    'name': 'Deutsch'},
   {'english_name': 'Finnish', 'iso_639_1': 'fi', 'name': 'suomi'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Ariel',
  'video': False,
  'vote_average': 6.8,
  'vote_count': 129},
 {'adult': False,
  'backdrop_path': '/l94l89eMmFKh7na2a1u5q67VgNx.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}],
  'homepage': '',
  'id': 3,
  'imdb_id': 'tt0092149',
  'original_language': 'fi',
  'original_title': 'Varjoja paratiisissa',
  'overview': 'An episode in the life of Nikander, a garbage man, involving the death of a co-worker, an affair and much more.',
  'popularity': 6.863,
  'poster_path': '/nj01hspawPof0mJmlgfjuLyJuRN.jpg',
  'production_companies': [{'id': 2303,
    'logo_path': None,
    'name': 'Villealfa Filmproductions',
    'origin_country': 'FI'}],
  'production_countries': [{'iso_3166_1': 'FI', 'name': 'Finland'}],
  'release_date': '1986-10-17',
  'revenue': 0,
  'runtime': 74,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Finnish', 'iso_639_1': 'fi', 'name': 'suomi'},
   {'english_name': 'Swedish', 'iso_639_1': 'sv', 'name': 'svenska'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Shadows in Paradise',
  'video': False,
  'vote_average': 7.2,
  'vote_count': 127},
 {'adult': False,
  'backdrop_path': '/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg',
  'belongs_to_collection': None,
  'budget': 4000000,
  'genres': [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}],
  'homepage': '',
  'id': 5,
  'imdb_id': 'tt0113101',
  'original_language': 'en',
  'original_title': 'Four Rooms',
  'overview': "It's Ted the Bellhop's first night on the job...and the hotel's very unusual guests are about to place him in some outrageous predicaments. It seems that this evening's room service is serving up one unbelievable happening after another.",
  'popularity': 13.645,
  'poster_path': '/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg',
  'production_companies': [{'id': 14,
    'logo_path': '/m6AHu84oZQxvq7n1rsvMNJIAsMu.png',
    'name': 'Miramax',
    'origin_country': 'US'},
   {'id': 59,
    'logo_path': '/yH7OMeSxhfP0AVM6iT0rsF3F4ZC.png',
    'name': 'A Band Apart',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1995-12-09',
  'revenue': 4257354,
  'runtime': 98,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': "Twelve outrageous guests. Four scandalous requests. And one lone bellhop, in his first day on the job, who's in for the wildest New year's Eve of his life.",
  'title': 'Four Rooms',
  'video': False,
  'vote_average': 5.7,
  'vote_count': 1916},
 {'adult': False,
  'backdrop_path': '/5aXp2s4l6g5PcMMesIj63mx8hmJ.jpg',
  'belongs_to_collection': None,
  'budget': 21000000,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 53, 'name': 'Thriller'},
   {'id': 80, 'name': 'Crime'}],
  'homepage': '',
  'id': 6,
  'imdb_id': 'tt0107286',
  'original_language': 'en',
  'original_title': 'Judgment Night',
  'overview': 'While racing to a boxing match, Frank, Mike, John and Rey get more than they bargained for. A wrong turn lands them directly in the path of Fallon, a vicious, wise-cracking drug lord. After accidentally witnessing Fallon murder a disloyal henchman, the four become his unwilling prey in a savage game of cat & mouse as they are mercilessly stalked through the urban jungle in this taut suspense drama',
  'popularity': 9.611,
  'poster_path': '/rYFAvSPlQUCebayLcxyK79yvtvV.jpg',
  'production_companies': [{'id': 33,
    'logo_path': '/8lvHyhjr8oUKOOy2dKXoALWKdp0.png',
    'name': 'Universal Pictures',
    'origin_country': 'US'},
   {'id': 1644,
    'logo_path': None,
    'name': 'Largo Entertainment',
    'origin_country': 'US'},
   {'id': 182, 'logo_path': None, 'name': 'JVC', 'origin_country': 'JP'}],
  'production_countries': [{'iso_3166_1': 'JP', 'name': 'Japan'},
   {'iso_3166_1': 'US', 'name': 'United States of America'}],
  'release_date': '1993-10-15',
  'revenue': 12136938,
  'runtime': 110,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': "Don't move. Don't whisper. Don't even breathe.",
  'title': 'Judgment Night',
  'video': False,
  'vote_average': 6.5,
  'vote_count': 184},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 42000,
  'genres': [{'id': 99, 'name': 'Documentary'}],
  'homepage': 'http://www.lifeinloops.com',
  'id': 8,
  'imdb_id': 'tt0825671',
  'original_language': 'en',
  'original_title': 'Life in Loops (A Megacities RMX)',
  'overview': 'Timo Novotny labels his new project an experimental music documentary film, in a remix of the celebrated film Megacities (1997), a visually refined essay on the hidden faces of several world "megacities" by leading Austrian documentarist Michael Glawogger. Novotny complements 30 % of material taken straight from the film (and re-edited) with 70 % as yet unseen footage in which he blends original shots unused by Glawogger with his own sequences (shot by Megacities cameraman Wolfgang Thaler) from Tokyo. Alongside the Japanese metropolis, Life in Loops takes us right into the atmosphere of Mexico City, New York, Moscow and Bombay. This electrifying combination of fascinating film images and an equally compelling soundtrack from Sofa Surfers sets us off on a stunning audiovisual adventure across the continents. The film also makes an original contribution to the discussion on new trends in documentary filmmaking. Written by KARLOVY VARY IFF 2006',
  'popularity': 3.391,
  'poster_path': '/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg',
  'production_companies': [{'id': 19123,
    'logo_path': None,
    'name': 'inLoops',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'AT', 'name': 'Austria'}],
  'release_date': '2006-01-01',
  'revenue': 0,
  'runtime': 80,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
   {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'},
   {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'},
   {'english_name': 'Spanish', 'iso_639_1': 'es', 'name': 'Español'}],
  'status': 'Released',
  'tagline': 'A Megacities remix.',
  'title': 'Life in Loops (A Megacities RMX)',
  'video': False,
  'vote_average': 7.4,
  'vote_count': 14},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': None,
  'id': 9,
  'imdb_id': 'tt0425473',
  'original_language': 'de',
  'original_title': 'Sonntag im August',
  'overview': '',
  'popularity': 1.499,
  'poster_path': None,
  'production_companies': [],
  'production_countries': [{'iso_3166_1': 'DE', 'name': 'Germany'}],
  'release_date': '2004-09-02',
  'revenue': 0,
  'runtime': 15,
  'spoken_languages': [{'english_name': 'German',
    'iso_639_1': 'de',
    'name': 'Deutsch'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Sunday in August',
  'video': False,
  'vote_average': 7.2,
  'vote_count': 10},
 {'adult': False,
  'backdrop_path': '/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg',
  'belongs_to_collection': {'id': 10,
   'name': 'Star Wars Collection',
   'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
   'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
  'budget': 11000000,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 28, 'name': 'Action'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': 'http://www.starwars.com/films/star-wars-episode-iv-a-new-hope',
  'id': 11,
  'imdb_id': 'tt0076759',
  'original_language': 'en',
  'original_title': 'Star Wars',
  'overview': 'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.',
  'popularity': 67.492,
  'poster_path': '/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg',
  'production_companies': [{'id': 1,
    'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
    'name': 'Lucasfilm Ltd.',
    'origin_country': 'US'},
   {'id': 25,
    'logo_path': '/qZCc1lty5FzX30aOCVRBLzaVmcp.png',
    'name': '20th Century Fox',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1977-05-25',
  'revenue': 775398007,
  'runtime': 121,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'A long time ago in a galaxy far, far away...',
  'title': 'Star Wars',
  'video': False,
  'vote_average': 8.2,
  'vote_count': 15345},
 {'adult': False,
  'backdrop_path': '/dFYguAfeVt19qAbzJ5mArn7DEJw.jpg',
  'belongs_to_collection': {'id': 137697,
   'name': 'Finding Nemo Collection',
   'poster_path': '/xwggrEugjcJDuabIWvK2CpmK91z.jpg',
   'backdrop_path': '/2hC8HHRUvwRljYKIcQDMyMbLlxz.jpg'},
  'budget': 94000000,
  'genres': [{'id': 16, 'name': 'Animation'}, {'id': 10751, 'name': 'Family'}],
  'homepage': 'http://movies.disney.com/finding-nemo',
  'id': 12,
  'imdb_id': 'tt0266543',
  'original_language': 'en',
  'original_title': 'Finding Nemo',
  'overview': "Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist's office aquarium. It's up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.",
  'popularity': 71.176,
  'poster_path': '/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg',
  'production_companies': [{'id': 3,
    'logo_path': '/1TjvGVDMYsj6JBxOAkUHpPEwLf7.png',
    'name': 'Pixar',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2003-05-30',
  'revenue': 940335536,
  'runtime': 100,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': "There are 3.7 trillion fish in the ocean. They're looking for one.",
  'title': 'Finding Nemo',
  'video': False,
  'vote_average': 7.8,
  'vote_count': 14838},
 {'adult': False,
  'backdrop_path': '/tlEFuIlaxRPXIYVHXbOSAMCfWqk.jpg',
  'belongs_to_collection': None,
  'budget': 55000000,
  'genres': [{'id': 35, 'name': 'Comedy'},
   {'id': 18, 'name': 'Drama'},
   {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 13,
  'imdb_id': 'tt0109830',
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'popularity': 46.003,
  'poster_path': '/h5J4W4veyxMXDMjeNxZI46TsHOb.jpg',
  'production_companies': [{'id': 4,
    'logo_path': '/fycMZt242LVjagMByZOLUGbCvv3.png',
    'name': 'Paramount',
    'origin_country': 'US'},
   {'id': 21920,
    'logo_path': None,
    'name': 'The Steve Tisch Company',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1994-07-06',
  'revenue': 677387716,
  'runtime': 142,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': "Life is like a box of chocolates...you never know what you're gonna get.",
  'title': 'Forrest Gump',
  'video': False,
  'vote_average': 8.5,
  'vote_count': 20267},
 {'adult': False,

In [367]:
tmdedct

{}

In [368]:
tmdrcid

'no ID'

# Seeking Data from TMDb via IMDb
##### The order in which data will be pulled from the rate-limited TMDb API using IMDb IDs.

In [369]:
g_reset_imt()

In [370]:
im_to_tm_collector(imdf=tmovus, dbg=25) # debug to 25 only
# im_to_tm_collector(imdf=tmovus)

# Global Variable Checkout Section for IM+TM Db Pulls
To be rewritten in final without global variables if feasible.

In [371]:
imttdil

[{'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}],
  'homepage': None,
  'id': 470664,
  'imdb_id': 'tt0000679',
  'original_language': 'en',
  'original_title': 'The Fairylogue and Radio-Plays',
  'overview': 'L. Frank Baum would appear in a white suit and present his live actors, slide shows and films as a live travelogue presentation of his popular fantasies. Highlights include Dorothy being swept to Oz in various ways, such as with back-projection tornadoes and storms in a chicken coop. Lack of financial backing forced the show to fold after appearing in only two cities, despite being a critical and commercial success.',
  'popularity': 0.6,
  'poster_path': '/jecGhyYtPGrlVh32OFbDZF9KaTZ.jpg',
  'production_companies': [{'id': 93601,
    'logo_path': None,
    'name': 'The Radio Play Company of America',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1908-09-23',
  'revenue': 0,
  'runtime': 120,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Fairylogue and Radio-Plays',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 14, 'name': 'Fantasy'},
   {'id': 12, 'name': 'Adventure'},
   {'id': 35, 'name': 'Comedy'}],
  'homepage': '',
  'id': 677215,
  'imdb_id': 'tt0001186',
  'original_language': 'en',
  'original_title': 'Dorothy and the Scarecrow in Oz',
  'overview': 'Dorothy and the Scarecrow are now in the Emerald City. They have become friendly with the Wizard, and together with the woodman, the cowardly lion, and several new creations equally delightful, they journey through Oz -- the earthquake -- and into the glass city. The Scarecrow is elated to think he is going to get his brains at last and be like other men are; the Tin-Woodman is bent upon getting a heart, and the cowardly lion pleads with the great Oz for courage. All these are granted by his Highness. Dorothy picks the princess. -- The Dangerous Mangaboos. -- Into the black pit, and out again. We then see Jim, the cab horse, and myriads of pleasant surprises that hold and fascinate.',
  'popularity': 0.6,
  'poster_path': '/1dnrJPx0KcHc2GFtiQQWGbU5tz3.jpg',
  'production_companies': [{'id': 1282,
    'logo_path': None,
    'name': 'Selig Polyscope Company',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1910-04-14',
  'revenue': 0,
  'runtime': 13,
  'spoken_languages': [{'english_name': 'No Language',
    'iso_639_1': 'xx',
    'name': 'No Language'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Dorothy and the Scarecrow in Oz',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': '',
  'id': 284952,
  'imdb_id': 'tt0001285',
  'original_language': 'en',
  'original_title': 'The Life of Moses',
  'overview': 'Directed by J. Stuart Blackton.',
  'popularity': 1.384,
  'poster_path': '/ufU7HChwpSfRmEYLbWCkOfXw8RB.jpg',
  'production_companies': [],
  'production_countries': [],
  'release_date': '1909-01-02',
  'revenue': 0,
  'runtime': 55,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Life of Moses',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': '',
  'id': 284952,
  'imdb_id': 'tt0001285',
  'original_language': 'en',
  'original_title': 'The Life of Moses',
  'overview': 'Directed by J. Stuart Blackton.',
  'popularity': 1.384,
  'poster_path': '/ufU7HChwpSfRmEYLbWCkOfXw8RB.jpg',
  'production_companies': [],
  'production_countries': [],
  'release_date': '1909-01-02',
  'revenue': 0,
  'runtime': 55,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Life of Moses',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': '',
  'id': 284952,
  'imdb_id': 'tt0001285',
  'original_language': 'en',
  'original_title': 'The Life of Moses',
  'overview': 'Directed by J. Stuart Blackton.',
  'popularity': 1.384,
  'poster_path': '/ufU7HChwpSfRmEYLbWCkOfXw8RB.jpg',
  'production_companies': [],
  'production_countries': [],
  'release_date': '1909-01-02',
  'revenue': 0,
  'runtime': 55,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Life of Moses',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': '',
  'id': 284952,
  'imdb_id': 'tt0001285',
  'original_language': 'en',
  'original_title': 'The Life of Moses',
  'overview': 'Directed by J. Stuart Blackton.',
  'popularity': 1.384,
  'poster_path': '/ufU7HChwpSfRmEYLbWCkOfXw8RB.jpg',
  'production_companies': [],
  'production_countries': [],
  'release_date': '1909-01-02',
  'revenue': 0,
  'runtime': 55,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Life of Moses',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': '',
  'id': 284952,
  'imdb_id': 'tt0001285',
  'original_language': 'en',
  'original_title': 'The Life of Moses',
  'overview': 'Directed by J. Stuart Blackton.',
  'popularity': 1.384,
  'poster_path': '/ufU7HChwpSfRmEYLbWCkOfXw8RB.jpg',
  'production_companies': [],
  'production_countries': [],
  'release_date': '1909-01-02',
  'revenue': 0,
  'runtime': 55,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Life of Moses',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': '',
  'id': 674549,
  'imdb_id': 'tt0001586',
  'original_language': 'en',
  'original_title': "A Dog's Tale",
  'overview': 'Plot unknown.',
  'popularity': 0.621,
  'poster_path': None,
  'production_companies': [],
  'production_countries': [],
  'release_date': '1911-01-01',
  'revenue': 0,
  'runtime': 10,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': "A Dog's Tale",
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 283512,
  'imdb_id': 'tt0001592',
  'original_language': 'da',
  'original_title': 'Ekspeditricen',
  'overview': 'Edgar the rich man’s son meets Ebba the waitress, and sparks fly. Ebba quickly becomes pregnant, but when the young lovers want to marry, Edgar’s father will stop at nothing to quash the mismatch. (stumfilm.dk)',
  'popularity': 0.6,
  'poster_path': '/qD0L9F6USEJX0whvPUQHHo6G9bA.jpg',
  'production_companies': [{'id': 235,
    'logo_path': '/obOynoztBEhDNfHsDXBqOuQLAZk.png',
    'name': 'Nordisk Film',
    'origin_country': 'DK'},
   {'id': 127848,
    'logo_path': None,
    'name': 'Nordisk Films Kompagni',
    'origin_country': 'DK'}],
  'production_countries': [{'iso_3166_1': 'DK', 'name': 'Denmark'}],
  'release_date': '1911-08-12',
  'revenue': 0,
  'runtime': 52,
  'spoken_languages': [{'english_name': 'No Language',
    'iso_639_1': 'xx',
    'name': 'No Language'}],
  'status': 'Released',
  'tagline': '',
  'title': 'In the Prime of Life',
  'video': False,
  'vote_average': 0.0,
  'vote_count': 0},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 194210,
  'imdb_id': 'tt0001892',
  'original_language': 'da',
  'original_title': 'Den sorte drøm',
  'overview': 'Stella, a circus princess, has two suitors: young, handsome Count Waldberg and the greying, hidebound jeweller Hirsch. Stella’s love for Waldberg drives Hirsch mad with jealousy. He will stop at nothing to be near the woman of his dreams. When the count loses a staggering sum to the jeweller in a gambling duel, Stella embarks on a fateful mission to save her beloved’s honour. (stumfilm.dk)',
  'popularity': 1.612,
  'poster_path': '/gvt3BhJKcszTLSQENxfQjr0CWNC.jpg',
  'production_companies': [{'id': 109481,
    'logo_path': None,
    'name': 'Fotorama',
    'origin_country': 'DK'}],
  'production_countries': [{'iso_3166_1': 'DK', 'name': 'Denmark'}],
  'release_date': '1911-09-04',
  'revenue': 0,
  'runtime': 53,
  'spoken_languages': [{'english_name': 'No Language',
    'iso_639_1': 'xx',
    'name': 'No Language'}],
  'status': 'Released',
  'tagline': '',
  'title': 'The Black Dream',
  'video': False,
  'vote_average': 4.5,
  'vote_count': 10},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': '',
  'id': 120287,
  'imdb_id': 'tt0001964',
  'original_language': 'de',
  'original_title': 'Die Verräterin',
  'overview': 'Patriotism trumps love.',
  'popularity': 0.681,
  'poster_path': None,
  'production_companies': [],
  'production_countries': [],
  'release_date': '1911-12-09',
  'revenue': 0,
  'runtime': 48,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Traitress',
  'video': False,
  'vote_average': 4.3,
  'vote_count': 3},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [],
  'homepage': None,
  'id': 400692,
  'imdb_id': 'tt0001998',
  'original_language': 'en',
  'original_title': 'The Adventures of Lieutenant Petrosino',
  'overview': 'The story of Lt. Joseph Petrosino, an Italian-American New York City police detective, who was assigned to investigate the Sicilian Mafia, which was beginning to become a major problem in New York. He did such a good job that the city sent him to Sicily to gather information on the Sicily/New York Mafia connections. He was murdered in Palermo by Mafia gunmen.',
  'popularity': 0.6,
  'poster_path': '/8IYQTgLHYFYo5kpHcWbzBFh9lvR.jpg',
  'production_companies': [],
  'production_countries': [],
  'release_date': '1912-11-04',
  'revenue': 0,
  'runtime': 47,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'The Adventures of Lieutenant Petrosino',
  'video': False,
  'vote_average': 3.0,
  'vote_count': 2},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 35, 'name': 'Comedy'}],
  'homepage': '',
  'id': 407055,
  'imdb_id': 'tt0002031',
  'original_language': 'en',
  'original_title': 'As You Like It',
  'overview': 'No description',
  'popularity': 0.6,
  'poster_path': None,
  'production_companies': [{'id': 15634,
    'logo_path': None,
    'name': 'Vitagraph Company of America',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1912-10-06',
  'revenue': 0,
  'runtime': 33,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'As You Like It',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}],
  'homepage': '',
  'id': 71266,
  'imdb_id': 'tt0002101',
  'original_language': 'en',
  'original_title': 'Cleopatra',
  'overview': "The fabled queen of Egypt's affair with Roman general Marc Antony is ultimately disastrous for both of them.",
  'popularity': 4.714,
  'poster_path': None,
  'production_companies': [{'id': 83124,
    'logo_path': None,
    'name': 'Helen Gardner Picture Players',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1912-11-13',
  'revenue': 0,
  'runtime': 88,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'Cleopatra',
  'video': False,
  'vote_average': 2.9,
  'vote_count': 11},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}],
  'homepage': '',
  'id': 71266,
  'imdb_id': 'tt0002101',
  'original_language': 'en',
  'original_title': 'Cleopatra',
  'overview': "The fabled queen of Egypt's affair with Roman general Marc Antony is ultimately disastrous for both of them.",
  'popularity': 4.714,
  'poster_path': None,
  'production_companies': [{'id': 83124,
    'logo_path': None,
    'name': 'Helen Gardner Picture Players',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1912-11-13',
  'revenue': 0,
  'runtime': 88,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'Cleopatra',
  'video': False,
  'vote_average': 2.9,
  'vote_count': 11},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}],
  'homepage': '',
  'id': 71266,
  'imdb_id': 'tt0002101',
  'original_language': 'en',
  'original_title': 'Cleopatra',
  'overview': "The fabled queen of Egypt's affair with Roman general Marc Antony is ultimately disastrous for both of them.",
  'popularity': 4.714,
  'poster_path': None,
  'production_companies': [{'id': 83124,
    'logo_path': None,
    'name': 'Helen Gardner Picture Players',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1912-11-13',
  'revenue': 0,
  'runtime': 88,
  'spoken_languages': [],
  'status': 'Released',
  'tagline': '',
  'title': 'Cleopatra',
  'video': False,
  'vote_average': 2.9,
  'vote_count': 11},
 {'adult': False,
  'backdrop_path': '/jEk1QNc9fBnbboh9t3nooPoIxBm.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 12, 'name': 'Adventure'},
   {'id': 18, 'name': 'Drama'},
   {'id': 14, 'name': 'Fantasy'},
   {'id': 27, 'name': 'Horror'}],
  'homepage': '',
  'id': 70512,
  'imdb_id': 'tt0002130',
  'original_language': 'it',
  'original_title': "L'Inferno",
  'overview': "The classic tale of Dante's journey through hell, loosely adapted from the Divine Comedy and inspired by the illustrations of Gustav Doré.  This historically important film stands as the first feature from Italy and the oldest fully-surviving feature in the world, and boasts beautiful special effects and sets that stand above other cinema of the era.",
  'popularity': 3.757,
  'poster_path': '/ky0z9hDlajlwL3fBqwsCSbjJGjR.jpg',
  'production_companies': [{'id': 93689,
    'logo_path': None,
    'name': 'Milano Films',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'IT', 'name': 'Italy'}],
  'release_date': '1911-07-01',
  'revenue': 0,
  'runtime': 72,
  'spoken_languages': [{'english_name': 'Italian',
    'iso_639_1': 'it',
    'name': 'Italiano'},
   {'english_name': 'No Language', 'iso_639_1': 'xx', 'name': 'No Language'}],
  'status': 'Released',
  'tagline': '',
  'title': "Dante's Inferno",
  'video': False,
  'vote_average': 6.4,
  'vote_count': 80},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 319775,
  'imdb_id': 'tt0002153',
  'original_language': 'da',
  'original_title': 'Dødsspring til hest fra cirkuskuplen',
  'overview': "Of the films that Psilander made at Nordisk during the first two years it is the film Dødsspring til Hest fra Cirkuskuplen (The Great Circus Catastrophe), that is worth noting. Maybe not so much for Psilander's acting, but for the sensational, action-packed storylines that he was in. This film shows the other side of Psilander's fame: his daring. He was an excellent rider and looked fantastic in long riding boots and elegant riding jackets and this skill was exploited in his films.",
  'popularity': 0.621,
  'poster_path': None,
  'production_companies': [{'id': 235,
    'logo_path': '/obOynoztBEhDNfHsDXBqOuQLAZk.png',
    'name': 'Nordisk Film',
    'origin_country': 'DK'},
   {'id': 127848,
    'logo_path': None,
    'name': 'Nordisk Films Kompagni',
    'origin_country': 'DK'}],
  'production_countries': [{'iso_3166_1': 'DK', 'name': 'Denmark'}],
  'release_date': '1912-08-26',
  'revenue': 0,
  'runtime': 45,
  'spoken_languages': [{'english_name': 'No Language',
    'iso_639_1': 'xx',
    'name': 'No Language'}],
  'status': 'Released',
  'tagline': '',
  'title': 'The Great Circus Catastrophe',
  'video': False,
  'vote_average': 1.0,
  'vote_count': 1},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 193894,
  'imdb_id': 'tt0002186',
  'original_language': 'da',
  'original_title': 'Den Flyvende Cirkus',
  'overview': "A tightrope walker from a traveling circus falls deeply in love with the mayor's daughter in a small seaside town. When he saves her from a deadly fire, his feelings are reciprocated by the young woman, who immediately accepts his marriage proposal. To spite the mayor's disapproval of the liaison between his daughter and the poor artist, the tightrope walker prepares a sensational but dangerous act, that will make him worthy of his bride. (stumfilm.dk)",
  'popularity': 0.931,
  'poster_path': '/rwAUgu9N0spgKlIEOybjSquWtLp.jpg',
  'production_companies': [{'id': 71690,
    'logo_path': None,
    'name': 'Det Skandinavisk-Russiske Handelshus',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'DK', 'name': 'Denmark'}],
  'release_date': '1912-03-20',
  'revenue': 0,
  'runtime': 46,
  'spoken_languages': [{'english_name': 'No Language',
    'iso_639_1': 'xx',
    'name': 'No Language'}],
  'status': 'Released',
  'tagline': '',
  'title': 'The Pride of the Circus',
  'video': False,
  'vote_average': 5.0,
  'vote_count': 3},
 {'adult': False,
  'backdrop_path': '/8VL1sk4x3fyp25XpRGO4T7rRhHm.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 119876,
  'imdb_id': 'tt0002199',
  'original_language': 'en',
  'original_title': 'From the Manger to the Cross',
  'overview': 'One of the first American movies to depict the life of Christ.',
  'popularity': 3.954,
  'poster_path': '/wsRp6nRPam7F7ShyhRtswBRE283.jpg',
  'production_companies': [{'id': 46167,
    'logo_path': None,
    'name': 'Kalem Company',
    'origin_country': 'US'}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '1912-10-03',
  'revenue': 0,
  'runtime': 71,
  'spoken_languages': [{'english_name': 'No Language',
    'iso_639_1': 'xx',
    'name': 'No Language'}],
  'status': 'Released',
  'tagline': '',
  'title': 'From the Manger to the Cross',
  'video': False,
  'vote_average': 5.2,
  'vote_count': 15},
 {'adult': False,
  'backdrop_path': '/8VL1sk4x3fyp25XpRGO4T7rRhHm.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 119876,
  'imdb_id': 'tt0002199',
  'original_language': 'en',
  'original_title': 'From the Manger to the Cross',
  'overview': 'One of the first American movies to depict the life of Christ.',
  'popularity': 3.954,

In [372]:
imtedct

{}

In [373]:
imtrcid

'no ID'

# End of Pulls

In [158]:
gnrst=set()
for g in imovdf['genres'].unique():
    if g:
        gnrst.update(g.split(','))

In [159]:
gnrst

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [291]:
nbdf

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0031983,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0071877,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0057345,tt0049189,tt0056404"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050986,tt0060827,tt0050976"
...,...,...,...,...,...,...
10820660,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",tt2455546
10820661,nm9993716,Essias Loberg,\N,\N,NaN,\N
10820662,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
10820663,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
10820664,nm9993719,Andre Hill,\N,\N,NaN,\N

In [287]:
tpdf[(tpdf.tconst.isin(tabdf['tconst'])) & (tpdf['category']!='director')& (tpdf['category']!='writer')]

,tconst,ordering,nconst,category,job,characters
849,tt0000502,1,nm0215752,actor,\N,\N
850,tt0000502,2,nm0252720,actor,\N,\N
3709,tt0001028,2,nm0378408,producer,producer,\N
4246,tt0001115,10,nm0630641,actress,\N,"[""Dansemusen""]"
4247,tt0001115,1,nm0064953,actor,\N,"[""Chief of Police""]"
...,...,...,...,...,...,...
43847859,tt9915306,8,nm10537857,actress,\N,"[""Razia Don""]"
43847860,tt9915306,9,nm9583802,actress,\N,\N
43848817,tt9915808,1,nm4667299,actress,\N,"[""Alicia""]"
43848818,tt9915808,2,nm5014622,actor,\N,"[""Paul""]"
43848819,tt9915808,3,nm10957635,actress,\N,"[""Leah""]"

In [153]:
tpdf[tpdf['tconst']=='tt0000574']

,tconst,ordering,nconst,category,job,characters
1040,tt0000574,10,nm0675239,cinematographer,director of photography,\N
1041,tt0000574,1,nm0846887,actress,\N,"[""Kate Kelly""]"
1042,tt0000574,2,nm0846894,actor,\N,"[""School Master""]"
1043,tt0000574,3,nm3002376,actor,\N,"[""Steve Hart""]"
1044,tt0000574,4,nm0170118,actress,\N,\N
1045,tt0000574,5,nm0846879,director,\N,\N
1046,tt0000574,6,nm0317210,producer,producer,\N
1047,tt0000574,7,nm0425854,producer,producer,\N
1048,tt0000574,8,nm0846911,producer,producer,\N
1049,tt0000574,9,nm2421834,composer,\N,\N

In [167]:
ckd = {'actress': 'f', 'actor': 'm'}
list(ckd.keys())
tpdf[(tpdf['tconst']=='tt0000574') & tpdf['category'].isin(list(ckd.keys()))]

         tconst  ordering     nconst category job         characters
1041  tt0000574         1  nm0846887  actress  \N     ["Kate Kelly"]
1042  tt0000574         2  nm0846894    actor  \N  ["School Master"]
1043  tt0000574         3  nm3002376    actor  \N     ["Steve Hart"]
1044  tt0000574         4  nm0170118  actress  \N                 \N

In [180]:
def idparse(x, tp='Many to One', sdf0=None, scol0=None, rcol0=None, sdf1=None, scol1=None, rcol1=None, ecol=None, enc=None):
    nidl = list()
    nml = list()
    if (x): # If not a null char
        if x!='\\N':
            if tp == 'Many to One':
                # Using a cell of many ids in a string on a column with 1 matching row per id
                nidl = x.split(",")
                nml = list()
                for nid in nidl:
                    nml.append(sdf0[sdf0[scol0]==nid][rcol0])
                return ", ".join((str(v) for v in nml))
                # Returns a similar string

            if tp == 'Only One':
                # Use only 1 value to match to 1 matching row
                return sdf0[sdf0[scol0]==x][rcol0]
            if tp == 'One to Many':
                # Use 1 value to collect a string list of matches
                nsdf = sdf1
                nscol = scol1
                nrcol = rcol1
                nidl = list()
                doOnce = 0
                nst = ""
                sc = ""
                for item in sdf0[(sdf0[scol0]==x) & (sdf0[ecol].isin(list(enc.keys())))]:
                        nst += sc + f"{idparse(item, tp='Only One', sdf0 = nsdf, scol0 = nscol, rcol0 = nrcol)} ({enc[sdf0[ecol]]})"
                        if doOnce == 0:
                            sc = ", "
                            doOnce = 1
                return nst

In [181]:
def findnbdfn(x):
    return idparse(x, tp='Many to One', sdf0=nbdf, scol0='nconst', rcol0='primaryName')

In [186]:
tpdf

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
43887525,tt9916880,5,nm0996406,director,principal director,\N
43887526,tt9916880,6,nm1482639,writer,\N,\N
43887527,tt9916880,7,nm2586970,writer,books,\N
43887528,tt9916880,8,nm1594058,producer,producer,\N
43887529,tt9916880,9,nm1052583,actress,\N,"[""Mum"",""Tidy Ted"",""Fang""]"

In [36]:
nbdf

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0056404,tt0054452,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0072562,tt0078723,tt0077975,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0050976"
...,...,...,...,...,...,...
10825471,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",tt2455546
10825472,nm9993716,Essias Loberg,\N,\N,NaN,\N
10825473,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
10825474,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
10825475,nm9993719,Andre Hill,\N,\N,NaN,\N

# First pass of data parsing written. Write initial models.

## Features in datasets to aim models towards

### Combined IMDb dataframe at this moment
Immediate: genre, rating, number of votes, year, runtime minutes
Later: directors, writers, actors (with gender and name)

### Incoming TMDb data sourced: unique from IMDb
budget, revenue, popularity, description
duplicates to cross reference: ratings and votes

### TMDb data to pull in the future for analysis
keywords (to use in subgenre analysis

LogisticRegression, RandomForest
Rate from 0 to 10: normal regression, or random forest regressor. Prefer Random Forest

Rating good or bad: classifier
Trying to rate from zero to 5: regressor

Note: I don't know how to cross-validate yet.